*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #E3E3E3;
}

#container{
  background-color: #E3E3E3;
  /* modificar depois: */
  width: 1200px;
  min-height: 640px;
  margin: auto;
  display: flex;
  position: relative;
  left: 60px;
}
