/* botao */
.btn{
    display: flex;
    justify-content: flex-end;;
}

.btn button{
    background: #00DF6D;
    color: #fff;
    border-style: none;
    height: 2em;
    width: 30%;
    min-width: max-content;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}
.btn button:hover{
    background: #009247;
    color: #fff;
    text-shadow: #000;
}
